* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial;
}

body, html {
  width: 100%;
  height: 100%;
  background-image: url("../stardust.png");
  background-size: cover;
}

#star-container {
  text-align: center;
}

#select-container, #admin-container {
  text-align: center;
  font-size: 1.5em;
}

#admin-container p {
  color: #999;
}

#admin-container input, #admin-container button {
  font-size: 2em;
  margin: 0.5em;
  margin-top: 2em;
  width: 3em;
}

#select-container {
  color: white;
}

#select-container input, #select-container button {
  font-size: 2em;
  margin: 0.5em;
}

#select-container button {
  width: 3em;
}

#select-container input {
  padding: 0.25em;
}

.icon-star {
  margin: 16px;
}
